In [8]:
import pandas as pd

In [11]:
audio_info = pd.read_csv('DATASET/audio_info.csv')
audio_info.head()

       NOME  CLASSE     INICIO        FIM GRUPO
0  0046.wav       3   5.000000   8.957732     A
1  0038.wav       2  14.957755  16.126803     A
2  0022.wav       3  22.126825  26.535374     A
3  0030.wav       2  31.535397  33.254921     A
4  0059.wav       3  40.254943  41.670907     A

In [12]:
audio_info.describe()

           CLASSE      INICIO         FIM
count  400.000000  400.000000  400.000000
mean     2.500000   30.607957   32.730059
std      0.500626   16.684267   16.777554
min      2.000000    5.000000    5.711247
25%      2.000000   14.955221   17.797188
50%      2.500000   30.347143   32.190816
75%      3.000000   44.626032   46.998662
max      3.000000   59.895442   64.256961